img {
  width: 175px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.style-over {
  border-top: 1px solid transparent;
}
.style-over:hover {
  color: #82b74b;
  border-top: 1px solid #82b74b;
}
